@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

.signup{
    width: 100%;
    height: 90vh;
    /* background: blueviolet; */
    position: absolute;
    max-width: 360px;
    top: 50%;
    left: 40%;
    padding: 14px;
    border: 1px solid #333;
}

.signup .form{
    height: 70vh;
}

.input-box{
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: 40px;
}

.input-box p{
    padding: 0 0 10px;
    color: black
}
.input-box input{
    height: 100%;
    width: 100%;
    border: none;
    /* outline: none; */
    padding: 0 40px;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;
    color: #333;
    border-radius: 10px;
}

.form .button{
    background: aqua;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    
}

.input-box i{
    position: absolute;
    top: 120%;
    font-size: 20px;
    padding: 10px;
}

.input-box i.email,
.input-box i.password{
    left: 0;
    color: #70707057;
}

.input-box input:focus ~ i.email, .input-box input:focus ~ i.password{
    border-color: #7d2ae8;
}

.input-box i.hide{
    right: 0;
    font-size: 18px;
}

.login{
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}